/*
* StyleSheet for frontcore
*/

/**************************************
MAIN STYLE
***************************************/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.clear { *zoom:1; }

img { max-width:100%; vertical-align:bottom; }

a { color:#444; text-decoration:none; }
a:hover { color:#444; }
a:focus { outline:0; }

a:hover,
a:active {
	outline:0;
}

/**************************************
DISPLAY
***************************************/
.inlineBlock{ display: inline-block; }
.block{ display: block!important; }

/**************************************
FLOAT
***************************************/
.float-right{ float: right; }
.float-left{ float: left; }

/**************************************
TEXT
***************************************/

/* Font-Size */
.fs-12{ font-size: 14px; }
.fs-14{ font-size: 14px; }
.fs-16{ font-size: 16px; }
.fs-18{ font-size: 18px; }
.fs-20{ font-size: 20px; }
.fs-22{ font-size: 22px; }
.fs-24{ font-size: 24px; }
.fs-26{ font-size: 26px; }
.fs-30{ font-size: 30px; }
.fs-40{ font-size: 40px; }
.fs-50{ font-size: 50px; }
.fs-60{ font-size: 60px; }
.fs-70{ font-size: 70px; }

/* Transform */
.uppercase{ text-transform: uppercase; }

/**************************************
TEXT-ALIGN
***************************************/
.align-center{ text-align: center; }
.align-left{ text-align: left; }
.align-right{ text-align: right; }

/**************************************
MARGINS
***************************************/
.no-margin{ margin: 0px; }

.m-10{ margin: 10px; }
.m-20{ margin: 20px; }
.m-40{ margin: 40px; }
.m-70{ margin: 70px; }
.m-100{ margin: 100px; }

.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-40{ margin-top: 40px; }
.mt-70{ margin-top: 70px; }
.mt-100{ margin-top: 100px; }

.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-40{ margin-bottom: 40px; }
.mb-70{ margin-bottom: 70px; }
.mb-100{ margin-bottom: 100px; }

.mtb-10{ margin: 10px 0px; }
.mtb-20{ margin: 20px 0px; }
.mtb-40{ margin: 40px 0px; }
.mtb-70{ margin: 70px 0px; }
.mtb-100{ margin: 100px 0px; }

.ml-10{ margin-left: 10px; }
.ml-20{ margin-left: 20px; }
.ml-40{ margin-left: 40px; }
.ml-70{ margin-left: 70px; }
.ml-100{ margin-left: 100px; }

.mr-10{ margin-right: 10px; }
.mr-20{ margin-right: 20px; }
.mr-40{ margin-right: 40px; }
.mr-70{ margin-right: 70px; }
.mr-100{ margin-right: 100px; }

.mlr-10{ margin: 0 10px; }
.mlr-20{ margin: 0 20px; }
.mlr-40{ margin: 0 40px; }
.mlr-70{ margin: 0 70px; }
.mlr-100{ margin: 0 100px; }

/**************************************
PADDINGS
***************************************/
.no-padding{ margin: 0px; }

.p-10{ padding: 10px; }
.p-20{ padding: 20px; }
.p-40{ padding: 40px; }
.p-70{ padding: 70px; }
.p-100{ padding: 100px; }

.plr-10{ padding-left: 10px; padding-right: 10px; }
.plr-20{ padding-left: 20px; padding-right: 20px; }
.plr-40{ padding-left: 40px; padding-right: 40px; }
.plr-70{ padding-left: 70px; padding-right: 70px; }
.plr-100{ padding-left: 100px; padding-right: 100px; }

.pt-10{ padding-top: 10px; }
.pt-20{ padding-top: 20px; }
.pt-40{ padding-top: 40px; }
.pt-70{ padding-top: 70px; }
.pt-100{ padding-top: 100px; }

.pb-10{ padding-bottom: 10px; }
.pb-20{ padding-bottom: 20px; }
.pb-40{ padding-bottom: 40px; }
.pb-70{ padding-bottom: 70px; }
.pb-100{ padding-bottom: 100px; }

.ptb-10{ padding-top: 10px; padding-bottom: 10px; }
.ptb-20{ padding-top: 20px; padding-bottom: 20px; }
.ptb-40{ padding-top: 40px; padding-bottom: 40px; }
.ptb-70{ padding-top: 70px; padding-bottom: 70px; }
.ptb-100{ padding-top: 100px; padding-bottom: 100px; }

.pl-10{ padding-left: 10px; }
.pl-20{ padding-left: 20px; }
.pl-40{ padding-left: 40px; }
.pl-70{ padding-left: 70px; }
.pl-100{ padding-left: 100px; }

.pr-10{ padding-right: 10px; }
.pr-20{ padding-right: 20px; }
.pr-40{ padding-right: 40px; }
.pr-70{ padding-right: 70px; }
.pr-100{ padding-right: 100px; }

.plr-10{ padding: 0 10px; }
.plr-20{ padding: 0 20px; }
.plr-40{ padding: 0 40px; }
.plr-70{ padding: 0 70px; }
.plr-100{ padding: 0 100px; }

/**************************************
Quick responsive menu
***************************************/
/*
* Style 1 (fade in-out)
*/

/* Overlay style */
.mobile-menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(16,16,16,0.9);
	z-index: 9;
}

/* Overlay closing cross */
.mobile-menu-overlay .close-trigger {
	display: block;
	font-size: 30px;
	padding: 10px;
	position: absolute;
	color: #fff;
	right: 20px;
	top: 20px;
	background: url(../img/cross.png) no-repeat center center;
	outline: none;
	z-index: 100;
	cursor: pointer;
}

/* Menu style */
nav.mobile-menu {
	text-align: center;
	position: fixed;
	width: 100%;
	font-size: 30px;
	top: 20%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9999;
}

nav.mobile-menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

nav.mobile-menu ul li {
	display: block;
}

nav.mobile-menu ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

nav.mobile-menu ul li a:hover,
nav.mobile-menu ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.mobile-menu-overlay {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.showMainMenu .mobile-menu-overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

nav.mobile-menu {
	opacity: 0;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.showMainMenu nav.mobile-menu {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}


