/*
* StyleSheet for frontcore
*/

/**************************************
VARS
***************************************/
$font-min-size: 6;
$font-max-size: 100;
$margin-padding-min: 10;
$margin-padding-max: 200;

/**************************************
MAIN STYLE
***************************************/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.clear { *zoom:1; }

img { max-width:100%; vertical-align:bottom; }

a { 
	color:#444; 
	text-decoration:none; 
	&:hover{
		color:#444;
	}
	&:active,
	&:focus,
	&:hover{
		outline:0;
	}
}

/**************************************
DISPLAY
***************************************/
.inlineBlock{ display: inline-block; }
.block{ display: block!important; }

/**************************************
FLOAT
***************************************/
.float-right{ float: right; }
.float-left{ float: left; }

/**************************************
TEXT
***************************************/

/* Font-Size */
@while $font-min-size <= $font-max-size{
	.fs-#{$font-min-size} { font-size: $font-min-size + px; }
	$font-min-size: $font-min-size + 2;
}

/* Transform */
.uppercase{ text-transform: uppercase; }

/* Weight */
$font-weight: 100;
@while $font-weight <= 700{
	.fw-#{$font-weight} { font-weight: $font-weight; }
	$font-weight: $font-weight + 100;
}

/**************************************
TEXT-ALIGN
***************************************/
.align-center{ text-align: center; }
.align-left{ text-align: left; }
.align-right{ text-align: right; }

/**************************************
MARGINS
***************************************/
.no-margin{ margin: 0px; }

$marginClasses: ('m': 'margin','mt': 'margin-top','mb': 'margin-bottom','mtb': 'margin','ml': 'margin-left','mr': 'margin-right','mlr': 'margin');
@each $shortCut, $attr in $marginClasses{
	@while $margin-padding-min <= $margin-padding-max{
		.#{$shortCut}-#{$margin-padding-min} { 
			@if $shortCut == "mtb" { 
				#{$attr}: $margin-padding-min + px + " " + 0; 
			}
			@else if $shortCut == "mlr" { 
				#{$attr}: 0 + " " + $margin-padding-min + px; 
			}
			@else{
				#{$attr}: $margin-padding-min + px;
			}
		}
		$margin-padding-min: $margin-padding-min + 10;
	}
	$margin-padding-min : 10;
}

/**************************************
PADDINGS
***************************************/
.no-padding{ margin: 0px; }

$marginClasses: ('p': 'padding','pt': 'padding-top','pb': 'padding-bottom','ptb': 'padding','pl': 'padding-left','pr': 'padding-right','plr': 'padding');
@each $shortCut, $attr in $marginClasses{
	@while $margin-padding-min <= $margin-padding-max{
		.#{$shortCut}-#{$margin-padding-min} { 
			@if $shortCut == "ptb" { 
				#{$attr}: $margin-padding-min + px + " " + 0; 
			}
			@else if $shortCut == "plr" { 
				#{$attr}: 0 + " " + $margin-padding-min + px; 
			}
			@else{
				#{$attr}: $margin-padding-min + px;
			}
		}
		$margin-padding-min: $margin-padding-min + 10;
	}
	$margin-padding-min : 10;
}

/**************************************
Quick responsive menu
***************************************/
/*
* Style 1 (fade in-out)
*/

/* Overlay style */
.mobile-menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(16,16,16,0.9);
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	
	/* Overlay closing cross */
	.close-trigger {
		display: block;
		font-size: 30px;
		padding: 10px;
		position: absolute;
		color: #fff;
		right: 20px;
		top: 20px;
		background: url(../img/cross.png) no-repeat center center;
		outline: none;
		z-index: 100;
		cursor: pointer;
	}
}

/* Menu style */
nav.mobile-menu {
	text-align: center;
	position: fixed;
	width: 100%;
	font-size: 30px;
	top: 20%;
	z-index: 999;
	opacity: 0;
	-webkit-transform: translateY(-100%) rotateX(30deg);
	transform: translateY(-100%) rotateX(30deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		position: relative;
		li {
			display: block;
			a {
				font-weight: 300;
				display: block;
				color: #fff;
				-webkit-transition: color 0.2s;
				transition: color 0.2s;
				&:hover,
				&:focus{
					color: #e3fcb1;
				}
			}
		}
	}
}

.showMainMenu{
	.mobile-menu-overlay {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	nav.mobile-menu {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
}


